
.menu{
    margin-bottom: 60px;
        font-weight: 800;
}

.price-box {
  margin: 0 auto;
  background: #E9E9E9;
  border-radius: 10px;
  padding: 40px 15px;
  /*width: 500px;*/
}



.price, .lead p {
  font-weight: 600;
  font-size: 32px;
  display: inline-block;
  line-height: 60px;
  border:0;
  width: 245px;
}

h4.great {
  background: #00ac98;
  margin: 20px 0 25px -60px;
  padding: 7px 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  display: inline-block;
  -moz-box-shadow:    2px 4px 5px 0 #ccc;
    -webkit-box-shadow: 2px 4px 5px 0 #ccc;
    box-shadow:         2px 4px 5px 0 #ccc;
}



.price-slider {
  margin-bottom: 70px;
}

.price-slider span {
  font-weight: 200;
  display: inline-block;
  color: #7f8c8d;
  font-size: 13px;
}

.form-pricing {
  background: #ffffff;
  padding: 20px;
  border-radius: 4px;
}

.price-form {
  background: #ffffff;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #eeeeee;
  min-height: 520px;
  border-radius: 4px;
  /*-moz-box-shadow:    0 5px 5px 0 #ccc;
    -webkit-box-shadow: 0 5px 5px 0 #ccc;
    box-shadow:         0 5px 5px 0 #ccc;*/
}

.form-group {
  margin-bottom: 0;
}

.form-group span.price {
  font-weight: 200;
  display: inline-block;
  color: #7f8c8d;
  font-size: 14px;
}



.price-form label {
  font-weight: 200;
  font-size: 21px;
}


table.table-bordered{
     background-color: lightgreen;
  }

  #show-more{
    float: right;
    text-decoration: none;
    color: black;
    font-weight: bold;  
  }

  #table-form,.milestone-custom {
    display: flex;
  }

.milestone-custom input{
  width: 40%;
 margin: 10px 3px 10px 0
}

#column-padding{
    padding-left: 50%;
  }

  #plus-img{
    height: 15%;
    width: 7%;
    margin: auto;
    cursor: pointer;
  }

  .package-section{
    font-size: 16px;
    font-weight: 600;
  }

  .weight-600{
    font-weight: 600;
  }

  tbody tr:first-child{
    background-color: #00ac98;
  }

  .cursor{
    cursor: pointer;
  }

  .width-30{
    width: 30%;
  }

  .offerPackages{
    margin-top: 15px;
  }

  #children-count{
    width: 100%;
  }




  @media(max-width: 1000px){
      .row{
        display:block;
      }

     div .calculator-form, div .table-form{
        max-width: 100%;
        text-align: center;
      }

     h4.great{
        margin: 20px 0px ;
        padding: 14px 225px;
      }

   .package-section,.girls-section,.bank-section{
        font-size: 32px;
        font-weight: 600;
      }

      .package-section input,input[type=radio],input[type=checkbox]{
            width: 30px;
            height: 20px;
      }

      .girls-section span{
        padding: 0 20px;
      }

      #btn-packages{
        padding: 14px 131px;
        margin-top: 5px;  
      }

      #plus-img{
        width: : 6%;
      }

    .milestone-custom input{
     margin: 1% 2%;
    width: 40%;
    }

      .milestone-custom{
        margin-left: 20%; 
      }

      .bank-section input{
        width: 280px;
        margin:13px 0;
      }

      #calculate-btn{
        padding: 15px 155px;
    font-size: 20px;
      }

  }

@media(max-width: 775px){
  h4.great{
    padding: 3% 25%;
  }

  #plus-img{
    display: block;
    padding-top: 5%;
  }

   .package-section,.girls-section,.bank-section{
      font-size: 21px;
    font-weight: 600;
      }

      #btn-packages{
        padding: 3% 20%;
      }
}

@media(max-width: 480px){
   .package-section,.girls-section,.bank-section{
        font-size: 14px;
      }

      #calculate-btn {
    padding: 5% 70px;
  }

}
